
<div class="main-footer">

    <div class="footer-top">
        
    </div>


    <div class="footer-main">
        <div class="container">
            
            <div class="row">
                <div class="col-md-4">

                    <div class="footer-col">

                        <h4 class="footer-title">About us <span class="title-under"></span></h4>

                        <div class="footer-content">

                            <p>
                                <strong>WeCare</strong> Foundation, the philanthropic arm of the <b>WeCare Group</b> develops innovative solutions to resolve issues that are critical roadblocks towards unlocking India’s economic potential.
                            </p> 

                            <p>
                                Its sustainable development programmes in healthcare & nutrition, education and safe drinking water across 25 Indian states, largely in partnership with the central and state governments have impacted over 100 Million lives till date.
                            </p>

                        </div>
                        
                    </div>

                </div>

                <div class="col-md-4">

                    <div class="footer-col">

                        <h4 class="footer-title">LAST TWEETS <span class="title-under"></span></h4>

                        <div class="footer-content">
                            <ul class="tweets list-unstyled">
                                <li class="tweet"> 

                                    <b>WeCare Foundation</b> double their Commitment to Provide Access to Safe Drinking Water; will Benefit 300,000 lives.

                                </li>

                                <li class="tweet"> 

                                    <b>WeCare School of Leadership</b> in Partnership with Em University Announces India’s 1st Cohort of Social Emotional Ethical Learning Certified Facilitators. 

                                </li>

                                <li class="tweet"> 

                                    <b>WeCare Enterprises Limited</b> Announces Consolidated Results for Q2 & H1 FY2021 

                                </li>

                            </ul>
                        </div>
                        
                    </div>

                </div>


                <div class="col-md-4">

                    <div class="footer-col">

                        <h4 class="footer-title">Contact us <span class="title-under"></span></h4>
                        

                        <div class="footer-content">
                            
                            <div class="footer-form">
                            
                                
                                <div class="footer-form" >
                                
                                    <form (ngSubmit)="processForm()">
                                        <div class="row">
                                        <!-- name -->
                                            
                                            <div class="form-group ">    
                                            <input 
                                            type="text" 
                                            name="name" 
                                            class="input" 
                                            placeholder="Your Name" 
                                            [(ngModel)]="name"
                                            required
                                            minlength="3"
                                            #nameInput="ngModel">
                                            </div>
                                        </div>  
                                         
                                        <div class="row">
                                            <div class="help is-error" *ngIf="nameInput.invalid && nameInput.dirty">
                                            Name is required and needs to be at least 3 characters long.
                                            </div>
                                        </div>
                        
                                        <div class="row">   
                                        
                                        <!-- email -->
                                            
                                            <div class="form-group ">         
                                            <input 
                                            type="email" 
                                            name="email" 
                                            class="input" 
                                            placeholder="Your Email" 
                                            [(ngModel)]="email"
                                            required
                                            email
                                            #emailInput="ngModel">
                                            </div>
                                        </div>    
                                        <div class="row">    
                                            <div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">
                                            Needs to be a valid email.
                                            </div>
                                        </div>
                                        
                                        
                                        
                                        <!-- message -->
                                        <div class="row">
                                            <div class="form-group">
                                            <textarea 
                                            class="textarea" 
                                            name="message" 
                                            placeholder="What's on your mind?" 
                                            [(ngModel)]="message"
                                            required
                                            #messageInput="ngModel">
                                            </textarea>
                                            </div>
                                        </div>
                                        <div class="row">    
                              
                                            <div class="help is-error" row="5" *ngIf="emailInput.invalid && emailInput.dirty">
                                            Your message is required!
                                            </div>
                                        </div> 
                                            
                                        
                                        <div class="row">
                                             <div class="form-group">
                                             <button type="submit" class="button is-danger is-large">Send Message</button>
                                             </div>
                                        </div>     
                                        
                                        
                                    
                                    </form>
                            <div>
                                <div class="clearfix"></div>
                            </div>


                                           



            </div>
            </div>
        
            </div>
            </div>
            </div>
            
        
        </div><!-- main-footer -->

    
    





<!-- Donate Modal -->
<div class="modal fade" id="donateModal" tabindex="-1" role="dialog" aria-labelledby="donateModalLabel" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="donateModalLabel">DONATE NOW</h4>
      </div>
      <div class="modal-body">

            <form class="form-donation">

                    <h3 class="title-style-1 text-center">Thank you for your donation <span class="title-under"></span>  </h3>

                    <div class="row">

                        <div class="form-group col-md-12 ">
                            <input type="text" class="form-control" id="amount" placeholder="AMOUNT(€)">
                        </div>

                    </div>


                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="firstName" placeholder="First name*">
                        </div>

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="lastName" placeholder="Last name*">
                        </div>
                    </div>


                    <div class="row">

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="email" placeholder="Email*">
                        </div>

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="phone" placeholder="Phone">
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" name="address" placeholder="Address">
                        </div>

                    </div>


                    <div class="row">

                        <div class="form-group col-md-12">
                            <textarea cols="30" rows="4" class="form-control" name="note" placeholder="Additional note"></textarea>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" name="donateNow" >DONATE NOW</button>
                        </div>

                    </div>



                   
                
            </form>
        
      </div>
    </div>
  </div>

</div> <!-- /.modal -->

</div>
<div class="footer-bottom">

    
</div>
<div class="container text-right">
    WeCare @ copyrights 2020 - by <a href="http://www.wecare.com" target="_blank">Debashree</a>
</div>
