
<div id="about-section">

    <header class="main-header">
    
    
        <div class="page-heading text-center">
    
            <div class="container zoomIn animated">
                
                <h1 class="page-title">ABOUT US <span class="title-under"></span></h1>
                <p class="page-description">
                    Doing Well and Doing Good<br>
                    Aspirations backed by purpose
                </p>
                
            </div>
    
        </div>
    
        <div class="main-container">
    
            <div class="container">
    
                <div class="row fadeIn animated">
    
                    <div class="col-md-6">
    
                        <img src="assets/images/about-us.jpg" alt="" class="img-responsive">
    
                    </div>
    
                    <div class="col-md-6">
    
                        <h2 class="title-style-2">ABOUT WeCare <span class="title-under"></span></h2>
                        <p> Offices in over 30 countries</p>
                        <p>	Brand presence in over 100 global markets</p>
                        <p> Team of over 10,000 people from 21 diverse nationalities</p>
                                                
                        <p>	Led by Mr. A, the Chairman, WeCare Group is a torchbearer of trusteeship and responsible business ethos. Based on the philosophy of ‘Doing Well and Doing Good’, the Group continues to create long-term value for its stakeholders and the community at large.</p>
                            
                        <p>	Driven by its core values, WeCare Group steadfastly pursues inclusive growth, while adhering to ethical and values-driven practices.</p>
                            
                        <p>	<b>Each social initiative nurtured by WeCare Foundation, addresses one of the three focus areas :</b></p>
                            
                        <p>	<b>WeCare Swasthya:</b> WeCare Healthcare and Nutrition</p>
                        <p> <b>WeCare School of Leadership:</b> Education Leadership and Women & Youth Empowerment</p>
                        <p>	<b>WeCare Sarvajal:</b> Access to Safe Drinking Water</p>
                    </div>
                </div> <!-- /.row -->
              </div> 
        
    
        <div class="our-team animate-onscroll fadeIn">
    
            <div class="container">
    
                <h2 class="title-style-1">Our Team <span class="title-under"></span></h2>
    
                <div class="row">
    
                    <div class="col-md-3 col-sm-6">
    
                        <div class="team-member">
    
                            <div class="thumnail">
    
                                <img src="assets/images/team/member-1.jpg" alt="" class="cause-img">
                                
                            </div>
    
    
    
                            <h4 class="member-name"><a href="#">Robert C. Numbers</a></h4>
    
                            <div class="member-position">
                                CO-FOUNDER
                            </div>
    
                            <div class="btn-holder">
    
                              <a href="#" class="btn"> <i class="fa fa-envelope"></i> </a>
                              <a href="#" class="btn"> <i class="fa fa-facebook"></i> </a>
                              <a href="#" class="btn"> <i class="fa fa-google"></i> </a>
                              <a href="#" class="btn"> <i class="fa fa-twitter"></i> </a>
                              <a href="#" class="btn"> <i class="fa fa-linkedin"></i> </a>
                              
                            </div>
    
                            
    
                        </div> <!-- /.team-member -->
                        
                    </div>
    
                    <div class="col-md-3 col-sm-6">
    
                        <div class="team-member">
    
                            <div class="thumnail">
    
                                <img src="assets/images/team/member-3.jpg" alt="" class="cause-img">
                                
                            </div>
    
    
    
                            <h4 class="member-name"><a href="#">Marjorie R. Echevarria</a></h4>
    
                            <div class="member-position">
                                CO-FOUNDER
                            </div>
    
                            <div class="btn-holder">
    
                              <a href="#" class="btn"> <i class="fa fa-envelope"></i> </a>
                              <a href="#" class="btn"> <i class="fa fa-facebook"></i> </a>
                              <a href="#" class="btn"> <i class="fa fa-google"></i> </a>
                              <a href="#" class="btn"> <i class="fa fa-twitter"></i> </a>
                              <a href="#" class="btn"> <i class="fa fa-linkedin"></i> </a>
                              
                            </div>
    
                            
    
                        </div> <!-- /.team-member -->
                        
                    </div>
    
    
                    <div class="col-md-3 col-sm-6">
    
                        <div class="team-member">
    
                            <div class="thumnail">
    
                                <img src="assets/images/team/member-4.jpg" alt="" class="cause-img">
                                
                            </div>
    
    
    
                            <h4 class="member-name"><a href="#">Allison J. Falls</a></h4>
    
                            <div class="member-position">
                                CO-FOUNDER
                            </div>
    
                            <div class="btn-holder">
    
                              <a href="#" class="btn"> <i class="fa fa-envelope"></i> </a>
                              <a href="#" class="btn"> <i class="fa fa-facebook"></i> </a>
                              <a href="#" class="btn"> <i class="fa fa-google"></i> </a>
                              <a href="#" class="btn"> <i class="fa fa-twitter"></i> </a>
                              <a href="#" class="btn"> <i class="fa fa-linkedin"></i> </a>
                              
                            </div>
    
                            
    
                        </div> <!-- /.team-member -->
                        
                    </div>
    
    
                    <div class="col-md-3 col-sm-6">
    
                        <div class="team-member">
    
                            <div class="thumnail">
    
                                <img src="assets/images/team/member-2.jpg" alt="" class="cause-img">
                                
                            </div>
    
    
    
                            <h4 class="member-name"><a href="#">Bryan B. Stevens</a></h4>
    
                            <div class="member-position">
                                CO-FOUNDER
                            </div>
    
                            <div class="btn-holder">
    
                              <a href="#" class="btn"> <i class="fa fa-envelope"></i> </a>
                              <a href="#" class="btn"> <i class="fa fa-facebook"></i> </a>
                              <a href="#" class="btn"> <i class="fa fa-google"></i> </a>
                              <a href="#" class="btn"> <i class="fa fa-twitter"></i> </a>
                              <a href="#" class="btn"> <i class="fa fa-linkedin"></i> </a>
                              
                            </div>
    
                            
    
                        </div> <!-- /.team-member -->
                        
                    </div>
    
                </div> <!-- /.row -->
    
            </div>
    
        </div>
    </div> <!-- /.about-us -->
    
    
           
